<section >
    <div class="middleSection">
        <div class="middleNav">
            <ul>
                <li>Trending</li>
                <li>Pooular</li>
                <li>TopSales</li>
                <li>Favorites</li>
                <li>Explore</li>
            </ul>
        </div>
        <div class="middleContent1">
            <div class="section1"></div>
            <div class="section1"></div>
            <div class="section1"></div>
            <div class="section1"></div>
            <div class="section1"></div>
        </div>
        <br><br>
        <div class="middleContent2">
            <div class="section1">item1</div>
            <div class="section1">item2</div>
            <div class="section1">item3</div>
            <div class="section1">item4</div>
            <div class="section1">item5</div>
        </div>

    </div>
</section>
<div class="ww">
    <img src="/image/img1.webp" alt="">
</div>